.show {
  display: block !important;
}


.top-left {
  display: block !important;
  animation: 2s circle-in-center;
}

@keyframes circle-in-center {
  from {
    clip-path: circle(0%);
  }

  to {
    clip-path: circle(125%);
  }
}

[transition-style="in:circle:center"] {
  animation: 2.5s cubic-bezier(.25, 1, .30, 1) circle-in-center both;
}

/* Right to left  */

.right-left {
  opacity: 1 !important;
  animation: 1s wipe-in-left;
}

@keyframes wipe-in-left {
  from {
    clip-path: inset(0 0 0 100%);
  }

  to {
    clip-path: inset(0 0 0 0);
  }
}

[transition-style="in:wipe:left"] {
  animation: 2.5s cubic-bezier(.25, 1, .30, 1) wipe-in-left both;
}

/* Amenities animation */

.ameni-show {
  opacity: 1 !important;
  animation: 1s square-in-center;
}


@keyframes square-in-center {
  from {
    clip-path: inset(100% 100% 100% 100%);
  }

  to {
    clip-path: inset(0 0 0 0);
  }
}

[transition-style="in:square:center"] {
  animation: 2.5s cubic-bezier(.25, 1, .30, 1) square-in-center both;
}


/* Price Section  */

.card-show {
  opacity: 1 !important;
  animation: 2s wipe-in-down;
}

@keyframes wipe-in-down {
  from {
    clip-path: inset(0 0 100% 0);
  }

  to {
    clip-path: inset(0 0 0 0);
  }
}

[transition-style="in:wipe:down"] {
  animation: 2.5s cubic-bezier(.25, 1, .30, 1) wipe-in-down both;
}


/* Floor Plan  */

@media (min-width: 769px){
  .show-card{
    opacity: 1 !important;
    animation: 1s wipe-in-down;
  }


.card-swip1{
  animation: 1s card-swip1;
  animation-fill-mode: forwards;
}

@keyframes card-swip1 {
  from {
    margin-right: 0px;
  }

  to{
    margin-right: 644px;
  }
}

.card-swip2{
  animation: 1s card-swip2;
  animation-fill-mode: forwards;
  animation-delay: 500ms;
}

@keyframes card-swip2 {
  from {
    margin-left: 0px;
  }

  to{
    margin-left: 644px;
  }
}
}



/* Location css */

.loc-head{
  background-color: #000 !important;
  border: 5px solid #9B802E !important;
  color: #fff;
}


/* Modal show */

.modal-show{
  display: flex !important;
}


/* call Modal */

.call-show{
  display: flex !important;
}