* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Hind", sans-serif;
}

body {
  overflow-x: hidden;
}

.show {
  display: block !important;
}

@font-face {
  font-family: "icomoon";
  src: url("../fonts/icomoon.eot?jpwvqn");
  src: url("../fonts/icomoon.eot?jpwvqn#iefix") format("embedded-opentype"), url("../fonts/icomoon.ttf?jpwvqn") format("truetype"), url("../fonts/icomoon.woff?jpwvqn") format("woff"), url("../fonts/icomoon.svg?jpwvqn#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
[class^=icon-], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "icomoon" !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-hamburger:before {
  content: "\e90f";
}

.icon-house-plan:before {
  content: "\e900";
}

.icon-multistorey:before {
  content: "\e909";
}

.icon-area-with-pins:before {
  content: "\e90c";
}

.icon-building:before {
  content: "\e90d";
}

.icon-pitch:before {
  content: "\e90a";
}

.icon-go-green:before {
  content: "\e90b";
}

.icon-badminton-equipment:before {
  content: "\e90e";
}

.icon-tower:before {
  content: "\e905";
  color: #9b802e;
}

.icon-garden:before {
  content: "\e906";
  color: #9b802e;
}

.icon-security:before {
  content: "\e907";
  color: #9b802e;
}

.icon-apartment:before {
  content: "\e908";
  color: #9b802e;
}

.icon-user:before {
  content: "\e904";
}

.icon-swimming:before {
  content: "\e901";
}

.icon-gym:before {
  content: "\e902";
}

.icon-call:before {
  content: "\e903";
}

.icon-arrow-right2:before {
  content: "\ea3c";
}

.icon-arrow-left2:before {
  content: "\ea40";
}

.icon-location:before {
  content: "\e947";
}

.icon-aid-kit:before {
  content: "\e998";
}

.icon-airplane:before {
  content: "\e9af";
}

.banner_section {
  background-image: url(../images/banner/banner.webp) !important;
  width: 100vw;
  background-size: cover;
}
.banner_section .container {
  background: rgba(0, 0, 0, 0.5);
}
.banner_section .container header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background: rgba(0, 0, 0, 0.8);
  position: fixed;
  z-index: 99;
}
.banner_section .container header .logo {
  width: 175px;
  padding: 20px 0 20px 0;
}
.banner_section .container header .logo img {
  width: 100%;
}
.banner_section .container header .side {
  display: contents;
}
.banner_section .container header .side .slid-nav {
  display: none;
}
.banner_section .container header .side .ivr {
  width: 40px;
  height: 40px;
  background: white;
  border-radius: 50%;
  align-items: center;
  display: none;
  justify-content: center;
}
.banner_section .container header .side .toggle {
  right: 10px;
  position: relative;
  cursor: pointer;
}
.banner_section .container .menu {
  position: fixed;
  right: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.8);
  display: none;
  z-index: 999;
}
.banner_section .container .menu .menu-content {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.banner_section .container .menu .menu-content ul li {
  list-style: none;
  margin: 20px 0;
}
.banner_section .container .menu .menu-content ul li a {
  text-decoration: none;
  color: #9B802E;
  font-size: 20px;
}
.banner_section .container .menu .menu-content ul li a:hover {
  color: #D9D9D9;
}
.banner_section .container .banner-content {
  width: 100%;
}
.banner_section .container .banner-content .content {
  padding: 120px 20px 80px;
}
.banner_section .container .banner-content .content .content1 {
  color: #D9D9D9;
}
.banner_section .container .banner-content .content .content1 h4 {
  font-size: 28px;
  font-weight: 600;
  line-height: 44px;
  font-family: "Hind", sans-serif;
}
.banner_section .container .banner-content .content .content1 p {
  font-size: 18px;
  font-weight: 300;
  line-height: 28px;
  font-family: "Hind", sans-serif;
}
.banner_section .container .banner-content .content ul {
  display: flex;
  flex-direction: row;
  top: 10px;
  position: relative;
}
.banner_section .container .banner-content .content ul li {
  list-style: none;
  background-color: #D9D9D9;
  width: 15px;
  height: 15px;
  margin-left: 10px;
  cursor: pointer;
}
.banner_section .container .banner-content .content ul li:hover {
  color: #9B802E;
}
.banner_section .container .banner-content .banner-form {
  position: relative;
  background-color: #000000;
  width: 100%;
  text-align: center;
  padding-bottom: 40px;
}
.banner_section .container .banner-content .banner-form .heading {
  color: #9B802E;
  font-size: 24px;
  padding: 16px;
  text-transform: capitalize;
}
.banner_section .container .banner-content .banner-form .heading p {
  line-height: 42px;
}
.banner_section .container .banner-content .banner-form .heading b {
  font-size: 32px;
}
.banner_section .container .banner-content .banner-form .heading span {
  font-size: 32px;
  color: #fff;
}
.banner_section .container .banner-content .banner-form .heading .cr {
  font-size: 24px;
  color: #fff;
}
.banner_section .container .banner-content .banner-form .form {
  padding: 32px;
  text-align: left;
  margin-top: 10px;
  padding-bottom: 32px;
}
.banner_section .container .banner-content .banner-form .form p {
  color: #fff;
  line-height: 16px;
}
.banner_section .container .banner-content .banner-form .form input {
  width: 100%;
  outline: none;
  border: 1px solid #fff;
  background: #000;
  font-size: 16px;
  padding: 14px;
  margin-top: 24px;
  color: #fff;
}
.banner_section .container .banner-content .banner-form .form span {
  color: #fff;
  width: 20%;
}
.banner_section .container .banner-content .banner-form .form button {
  width: 100%;
  background: #9b802e;
  border: 1px solid #fff;
  margin-top: 40px;
  font-size: 24px;
  color: #fff;
  padding: 8px;
  margin-bottom: 16px;
}
.banner_section .container .banner-content .banner-form .form .name_area {
  display: flex;
}
.banner_section .container .banner-content .banner-form .form .name_area p {
  width: 25%;
  font-size: 24px;
  border: 1px solid;
  text-align: center;
  padding: 14px 0 0 0;
  margin-top: 24px;
  background-color: #000;
}
.banner_section .container .banner-content .banner-form .form .name_area .name {
  width: 75%;
}
.banner_section .container .banner-content .banner-form .form .number {
  display: flex;
}
.banner_section .container .banner-content .banner-form .form .number .count_code {
  width: 25%;
  background-color: transparent;
  color: #fff;
  outline: none;
  border: 1px solid #fff;
  margin-top: 24px;
}
.banner_section .container .banner-content .banner-form .form .number #dropEnquiry_CountryCode {
  background-color: #000;
}
.banner_section .container .banner-content .banner-form .form .number .num {
  width: 75%;
}

@media (min-width: 769px) {
  .banner_section {
    background-image: url(../images/banner/banner.webp) !important;
    height: 100vh;
    width: 100vw;
    background: fixed;
    background-size: cover;
  }
  .banner_section .container {
    background: fixed linear-gradient(to right, rgba(0, 0, 0, 0.7), rgba(255, 255, 255, 0));
    height: 100vh;
  }
  .banner_section .container header {
    width: 100%;
    justify-content: space-around;
    position: fixed;
    z-index: 99;
  }
  .banner_section .container header .logo {
    position: relative;
    right: 150px;
  }
  .banner_section .container header .side {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .banner_section .container header .side .slid-nav {
    position: relative;
    display: flex;
    align-items: center;
  }
  .banner_section .container header .side .slid-nav .main-contain {
    align-items: center;
    display: flex;
    height: 45px;
    margin-left: 64px;
    width: 125px;
    position: absolute;
    overflow: hidden;
    background-color: #9b802e !important;
    transition: all 0.5s;
    border-radius: 5px;
  }
  .banner_section .container header .side .slid-nav .main-contain:hover {
    width: 600px;
    margin-left: -412px;
  }
  .banner_section .container header .side .slid-nav .main-contain .menu-container {
    display: flex;
    position: absolute;
    align-items: center;
    margin-left: -479px;
    transition: all 0.5s;
  }
  .banner_section .container header .side .slid-nav .main-contain .menu-container:hover {
    margin-left: 0px;
  }
  .banner_section .container header .side .slid-nav .main-contain .menu-container li {
    width: 120px;
    list-style: none;
    text-align: center;
    font-size: 18px;
    padding: 12px 0;
  }
  .banner_section .container header .side .slid-nav .main-contain .menu-container li a {
    text-decoration: none;
    color: #fff;
    padding: 13px;
    border-radius: 5px;
  }
  .banner_section .container header .side .slid-nav .main-contain .menu-container li a:hover {
    color: #000;
    background-color: #fff;
  }
  .banner_section .container header .side .main-ivr {
    position: relative;
    left: 220px;
    border: 1px solid #9b802e;
    border-radius: 25px;
  }
  .banner_section .container header .side .main-ivr .ivr {
    display: flex;
  }
  .banner_section .container header .side .toggle {
    position: relative;
    left: 35px;
    display: none;
  }
  .banner_section .container .menu {
    width: 320px;
  }
  .banner_section .container .banner-content {
    display: flex;
  }
  .banner_section .container .banner-content .content {
    padding: 0;
    width: 40%;
    position: relative;
    left: 194px;
    top: 196px;
  }
  .banner_section .container .banner-content .content .content1 {
    padding: 0;
  }
  .banner_section .container .banner-content .content .content1 h4 {
    font-size: 48px;
    line-height: 70px;
    font-weight: 600;
  }
  .banner_section .container .banner-content .content .content1 p {
    font-size: 24px;
    line-height: 38px;
  }
  .banner_section .container .banner-content .content ul {
    margin-top: 24px;
  }
  .banner_section .container .banner-content .banner-form {
    width: 360px;
    border: 1px solid #fff;
    position: relative;
    left: 340px;
    top: 160px;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 20px;
    padding-bottom: 0;
  }
  .banner_section .container .banner-content .banner-form .heading {
    background-color: #000;
    border-radius: 20px 20px 0 0;
  }
  .banner_section .container .banner-content .banner-form .form {
    padding: 24px 32px;
    margin-top: 0;
  }
}
.overview_section .container .contents {
  background: rgba(0, 0, 0, 0.8);
  padding: 8px;
  padding-top: 40px;
  padding-bottom: 40px;
}
.overview_section .container .contents .heading {
  padding-top: 16px;
}
.overview_section .container .contents .heading h3 {
  border-bottom: 1px solid #fff;
  display: inline-block;
}
.overview_section .container .contents .heading h3 span {
  background: #D9D9D9;
  width: 76px;
  display: inline-block;
  text-align: center;
  font-size: 32px;
  border-radius: 50px 50px 0 0;
}
.overview_section .container .contents .heading h3 p {
  display: inline-block;
  color: #9B802E;
  margin-left: 24px;
  text-transform: uppercase;
}
.overview_section .container .contents .heading h2 {
  color: #D9D9D9;
  padding: 16px 0;
}
.overview_section .container .contents .content p {
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  line-height: 30px;
}
.overview_section .container .image img {
  width: 100%;
}

@media (min-width: 769px) {
  .overview_section {
    background-image: url(../images/overview/ov1.webp);
    width: 100vw;
    height: 100vh;
    padding-bottom: 764px;
  }
  .overview_section .container {
    position: relative;
  }
  .overview_section .container .contents {
    width: 736px;
    margin-top: 64px;
    position: absolute;
    left: 160px;
    padding: 16px 232px 80px 56px;
    display: none;
  }
  .overview_section .container .contents .heading {
    margin-top: 50px;
  }
  .overview_section .container .image {
    left: 599px;
    position: absolute;
    width: 570px;
    display: none;
  }
}
.highlights_section .container .contents {
  padding: 8px;
  padding-top: 40px;
}
.highlights_section .container .contents .heading {
  padding-top: 16px;
}
.highlights_section .container .contents .heading h3 {
  border-bottom: 1px solid #D9D9D9;
}
.highlights_section .container .contents .heading h3 span {
  background: #d9d9d9;
  width: 76px;
  display: inline-block;
  text-align: center;
  font-size: 32px;
  border-radius: 50px 50px 0 0;
}
.highlights_section .container .contents .heading h3 p {
  display: inline-block;
  color: #9B802E;
  margin-left: 24px;
  text-transform: uppercase;
}
.highlights_section .container .contents .heading h2 {
  padding: 16px 0;
}
.highlights_section .container .contents .image {
  position: relative;
  z-index: 1;
}
.highlights_section .container .contents .image img {
  width: 100%;
}
.highlights_section .container .contents .main-contents {
  position: relative;
  bottom: 109px;
  z-index: 4;
}
.highlights_section .container .contents .main-contents .d-flex {
  opacity: 0;
  display: flex;
  align-items: center;
  z-index: 1;
}
.highlights_section .container .contents .main-contents span {
  font-size: 40px;
  border: 8px solid rgba(66, 65, 65, 0.5882352941);
  height: 68px;
  width: 68px;
  align-items: center;
  justify-content: center;
  display: flex;
  border-radius: 24px;
  background-color: #000;
  text-align: center;
}
.highlights_section .container .contents .main-contents ul li {
  background-color: #000;
  color: #fff;
  padding: 0;
  margin: 24px 0;
  border-radius: 25px;
}
.highlights_section .container .contents .main-contents ul li h5 {
  position: relative;
  left: 16px;
}
.highlights_section .container .contents .main-contents .float {
  position: absolute;
  background: #000;
  color: #fff;
  top: -14px;
  right: 4px;
  list-style: none;
  z-index: -1;
  border-radius: 25px 0 0 25px;
}
.highlights_section .container .contents .main-contents .float li {
  padding: 32px;
}

@media (min-width: 769px) {
  .highlights_section {
    display: flex;
    justify-content: center;
  }
  .highlights_section .container {
    padding-top: 40px;
    padding-bottom: 40px;
  }
  .highlights_section .container .contents {
    padding: 32px 128px;
  }
  .highlights_section .container .contents .heading h3 {
    display: inline-block;
  }
  .highlights_section .container .contents .self {
    display: flex;
    align-items: center;
  }
  .highlights_section .container .contents .image {
    width: 540px;
    height: 450px;
  }
  .highlights_section .container .contents .image img {
    width: 100%;
    height: 450px;
  }
  .highlights_section .container .contents .main-contents {
    bottom: 0;
    left: -32px;
  }
  .highlights_section .container .contents .main-contents ul li {
    background-color: #000;
    color: #fff;
    padding: 0;
    width: 430px;
    margin: 24px 0;
    border-radius: 25px;
  }
  .highlights_section .container .contents .main-contents h5 {
    margin-left: 20px;
    font-size: 18px;
  }
  .highlights_section .container .contents .float {
    display: none;
  }
}
.cta-section {
  background-image: url(../images/cta/mob-cta.webp);
  background-size: cover;
  background-repeat: no-repeat;
}
.cta-section .container .contents {
  position: relative;
}
.cta-section .container .contents img {
  position: absolute;
  height: 100%;
}
.cta-section .container .contents .details {
  color: #fff;
  font-size: 24px;
  padding: 24px 30px;
  position: relative;
}
.cta-section .container .contents .details h3 {
  font-size: 28px;
  font-weight: bolder;
}
.cta-section .container .contents .details button {
  position: relative;
  padding: 8px;
  font-size: 16px;
  background: transparent;
  color: #fff;
  border: 1px solid;
  left: 168px;
}

@media (min-width: 769px) {
  .cta-section {
    background: url(../images/cta/cta.webp);
    background-repeat: no-repeat;
    background-position: center;
  }
  .cta-section .container .contents .details {
    display: flex;
    margin-right: 242px;
    justify-content: center;
    align-items: center;
    font-size: 32px;
    padding: 150px 0;
  }
  .cta-section .container .contents .details div {
    line-height: 48px;
  }
  .cta-section .container .contents button {
    width: 200px;
    height: 64px;
    left: 70px !important;
  }
}
.amenities-section .container {
  position: relative;
  padding-bottom: 40px;
}
.amenities-section .container .contents {
  padding: 60px 32px;
}
.amenities-section .container .contents .heading {
  padding-top: 16px;
}
.amenities-section .container .contents .heading h3 {
  border-bottom: 1px solid #D9D9D9;
  display: inline-block;
}
.amenities-section .container .contents .heading h3 span {
  background: #d9d9d9;
  width: 76px;
  display: inline-block;
  text-align: center;
  font-size: 32px;
  border-radius: 50px 50px 0 0;
}
.amenities-section .container .contents .heading h3 p {
  display: inline-block;
  color: #9B802E;
  margin-left: 24px;
  text-transform: uppercase;
}
.amenities-section .container .contents .heading h2 {
  padding: 16px 0;
}
.amenities-section .container .image .show1 {
  display: none;
}
.amenities-section .container .image img {
  position: absolute;
  width: 100%;
}
.amenities-section .container .amenities {
  padding: 0 30px;
}
.amenities-section .container .amenities .main-amenities {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 150px));
  grid-auto-rows: 150px;
  justify-content: space-around;
  list-style: none;
  text-align: center;
  align-items: center;
  grid-gap: 32px 0;
}
.amenities-section .container .amenities li {
  margin: 8px;
  color: #9B802E;
  opacity: 0;
}
.amenities-section .container .amenities li span {
  font-size: 75px;
  padding: 5px;
}
.amenities-section .container .amenities li hr {
  margin: 10px;
}

@media (min-width: 769px) {
  .amenities-section .container {
    background-image: url(../images/amenities/amenitie-side1.webp);
    background-repeat: no-repeat;
    background-position-x: right;
    padding-bottom: 64px;
  }
  .amenities-section .container .image .hide {
    display: none;
  }
  .amenities-section .container .image .show1 {
    display: block;
  }
  .amenities-section .container .image img {
    height: 100vh;
    float: right;
    position: relative;
    width: auto;
  }
  .amenities-section .container .contents .heading {
    padding: 0 120px;
  }
  .amenities-section .container .amenities {
    padding: 0px 160px;
  }
  .amenities-section .container .amenities .main-amenities {
    display: grid;
    grid-template-columns: auto auto auto auto auto auto;
    grid-auto-rows: 150px;
    list-style: none;
  }
}
.price-section {
  background-image: url(../images/price-plan/mob-price.webp);
}
.price-section .side-img {
  margin-top: -327px;
  width: 100%;
  top: 5px;
  position: relative;
}
.price-section .container {
  padding: 16px;
  padding-top: 40px;
}
.price-section .container .contents {
  position: relative;
}
.price-section .container .contents .heading {
  padding-top: 16px;
}
.price-section .container .contents .heading h3 {
  border-bottom: 1px solid #fff;
}
.price-section .container .contents .heading h3 span {
  background: #D9D9D9;
  width: 76px;
  display: inline-block;
  text-align: center;
  font-size: 32px;
  border-radius: 50px 50px 0 0;
}
.price-section .container .contents .heading h3 p {
  display: inline-block;
  color: #9B802E;
  margin-left: 24px;
  text-transform: uppercase;
}
.price-section .container .contents .heading h2 {
  color: #D9D9D9;
  padding: 16px 0;
}
.price-section .container .contents .cards {
  position: relative;
  z-index: 98;
}
.price-section .container .contents .cards .card-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  margin-top: 32px;
}
.price-section .container .contents .cards .card-body .triangle img {
  width: 100%;
}
.price-section .container .contents .cards .card-body .square {
  display: flex;
  justify-content: center;
  margin-top: -5px;
}
.price-section .container .contents .cards .card-body .square .box {
  width: 40%;
  border: 1px solid #999999;
  text-align: center;
  padding-top: 64px;
  padding-bottom: 60px;
  background-color: #fff;
}
.price-section .container .contents .cards .card-body .square .box span {
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 1px;
  text-transform: uppercase;
}
.price-section .container .contents .cards .card-body .square .box h4 {
  font-weight: 700;
  font-size: 24px;
  line-height: 38px;
}
.price-section .container .contents .cards .card-body .button {
  width: 80%;
  text-align: center;
  background: transparent;
  margin: 0 auto;
  border: 1px solid #999999;
}
.price-section .container .contents .cards .card-body .button button {
  color: #fff;
  background: transparent;
  outline: none;
  border: none;
  font-size: 16px;
  padding: 16px 0;
  letter-spacing: 1px;
  line-height: 25px;
  text-transform: uppercase;
}
.price-section .container .contents .cards .card-body .circle {
  width: 85px;
  height: 85px;
  border: 1px solid #999999;
  border-radius: 50%;
  position: absolute;
  background-color: #fff;
  top: 29%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  align-items: center;
  justify-content: center;
  display: flex;
}
.price-section .container .contents .cards .card-body .circle h3 {
  text-transform: uppercase;
}

@media (min-width: 769px) {
  .price-section {
    background-image: url(../images/price-plan/price-plan.webp);
    width: 100vw;
  }
  .price-section .container .contents .heading {
    margin-left: 56px;
  }
  .price-section .container .contents .heading h3 {
    display: inline-block;
  }
  .price-section .container .contents .cards {
    display: flex;
    justify-content: space-around;
  }
  .price-section .container .contents .cards .card-body {
    opacity: 0;
  }
  .price-section .container .contents .cards .card-body:hover .square .box {
    background-color: transparent;
    color: #fff;
  }
  .price-section .container .contents .cards .card-body:hover .button {
    background-color: #9B802E;
  }
  .price-section .container .contents .cards .card-body:hover .button button {
    background-color: #9B802E;
  }
  .price-section .container .contents .cards .card-body:hover .circle {
    background-color: #9B802E;
    color: #fff;
  }
  .price-section .side-img {
    margin-bottom: -4px;
    width: auto;
    top: 0;
  }
}
.floorPlan-section {
  background-image: url("../images/floor-plan/floor-bg.webp");
}
.floorPlan-section .container {
  background-image: url(../images/floor-plan/mob-side.svg);
  background-repeat: no-repeat;
  padding-bottom: 40px;
}
.floorPlan-section .container .contents {
  padding: 16px;
}
.floorPlan-section .container .contents .heading {
  padding-top: 72px;
}
.floorPlan-section .container .contents .heading h3 {
  border-bottom: 1px solid #D9D9D9;
  display: inline-block;
}
.floorPlan-section .container .contents .heading h3 span {
  background: #D9D9D9;
  width: 76px;
  display: inline-block;
  text-align: center;
  font-size: 32px;
  border-radius: 50px 50px 0 0;
}
.floorPlan-section .container .contents .heading h3 p {
  display: inline-block;
  color: #9B802E;
  margin-left: 24px;
  text-transform: uppercase;
}
.floorPlan-section .container .contents .heading h2 {
  color: #333333;
  padding: 16px 0;
}
.floorPlan-section .container .contents .main-floor ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  list-style: none;
}
.floorPlan-section .container .contents .main-floor ul li {
  border: 5px solid #9B802E;
  margin-top: 16px;
  border-radius: 25px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.floorPlan-section .container .contents .main-floor ul li button {
  position: absolute;
  width: 100%;
  left: 0;
  background-color: #9B802E;
  outline: none;
  border: none;
  font-size: 20px;
  letter-spacing: 1px;
  line-height: 64px;
  text-transform: uppercase;
  color: #fff;
}

@media (min-width: 769px) {
  .floorPlan-section .container .contents {
    padding: 0 110px 64px;
  }
  .floorPlan-section .container .contents .main-floor {
    margin-bottom: 350px;
  }
  .floorPlan-section .container .contents .main-floor ul {
    flex-direction: row;
    justify-content: center;
  }
  .floorPlan-section .container .contents .main-floor ul li {
    margin-top: 350px;
    position: absolute;
    opacity: 0;
    align-items: flex-start;
    border: 5px solid #555555;
  }
  .floorPlan-section .container .contents .main-floor ul li button {
    opacity: 0;
  }
  .floorPlan-section .container .contents .main-floor ul li:hover {
    border: 5px solid #9B802E;
    align-items: center;
  }
  .floorPlan-section .container .contents .main-floor ul li:hover button {
    opacity: 1 !important;
    transition: all 1s;
  }
}
.gallery-section {
  background-color: #000;
  height: 100vh;
}
.gallery-section .container .contents {
  padding: 8px;
}
.gallery-section .container .contents .heading {
  padding-top: 16px;
  margin-left: 8px;
}
.gallery-section .container .contents .heading h3 {
  border-bottom: 1px solid #D9D9D9;
  display: inline-block;
}
.gallery-section .container .contents .heading h3 span {
  background: #d9d9d9;
  width: 76px;
  display: inline-block;
  text-align: center;
  font-size: 32px;
  border-radius: 50px 50px 0 0;
}
.gallery-section .container .contents .heading h3 p {
  display: inline-block;
  color: #9B802E;
  margin-left: 24px;
  text-transform: uppercase;
}
.gallery-section .container .contents .heading h2 {
  padding: 16px 0;
  color: #d9d9d9;
}
.gallery-section .container .contents .main-gallery {
  margin-top: 24px;
}
.gallery-section .container .contents .main-gallery .gallery-wrapper {
  padding: 0 24px;
  position: relative;
}
.gallery-section .container .contents .main-gallery .gallery-wrapper span {
  background-color: #d9d9d9;
  font-size: 30px;
  padding: 8px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.gallery-section .container .contents .main-gallery .gallery-wrapper span:first-child {
  left: 5px;
}
.gallery-section .container .contents .main-gallery .gallery-wrapper span:last-child {
  right: 5px;
}
.gallery-section .container .contents .main-gallery .gallery-wrapper .gallery-body {
  white-space: nowrap;
  overflow: hidden;
  scroll-behavior: smooth;
}
.gallery-section .container .contents .main-gallery .gallery-wrapper .gallery-body img {
  height: 400px;
  width: 100%;
}

@media (min-width: 769px) {
  .gallery-section .container .contents {
    padding: 45px 130px;
  }
  .gallery-section .container .contents .main-gallery .gallery-wrapper .gallery-body img {
    margin-left: 8px;
    width: 33.3333333333%;
  }
}
.location-section {
  background-image: url("../images/location/mobLocation.webp");
}
.location-section .container {
  padding-top: 40px;
  padding-bottom: 40px;
}
.location-section .container .contents {
  padding: 8px;
}
.location-section .container .contents .heading {
  padding-top: 16px;
  margin-left: 8px;
}
.location-section .container .contents .heading h3 {
  border-bottom: 1px solid #D9D9D9;
  display: inline-block;
}
.location-section .container .contents .heading h3 span {
  background: #d9d9d9;
  width: 76px;
  display: inline-block;
  text-align: center;
  font-size: 32px;
  border-radius: 50px 50px 0 0;
}
.location-section .container .contents .heading h3 p {
  display: inline-block;
  color: #9B802E;
  margin-left: 24px;
  text-transform: uppercase;
}
.location-section .container .contents .heading h2 {
  padding: 16px 0;
  color: #d9d9d9;
}
.location-section .container .contents .location-contents .loc-img img {
  width: 100%;
}
.location-section .container .contents .location-contents .loc-content {
  margin-top: 16px;
}
.location-section .container .contents .location-contents .loc-content .loc-details {
  width: 100%;
  border: 2px solid #9B802E;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 24px;
  border-radius: 20px 20px 0 0;
  display: flex;
  flex-direction: column;
}
.location-section .container .contents .location-contents .loc-content .loc-details p {
  font-size: 18px;
  line-height: 24px;
  color: #FFF;
}
.location-section .container .contents .location-contents .loc-content .loc-details button {
  padding: 17px;
  font-size: 15px;
  color: #FFF;
  text-transform: capitalize;
  margin-top: 32px;
  letter-spacing: 1px;
  border: 2px solid #fff;
  background-color: #9B802E;
}
.location-section .container .contents .location-contents .loc-content .loc-spec {
  border: 2px solid #9B802E;
  position: relative;
  margin-top: 80px;
  border-radius: 0 0 20px 20px;
  background-color: rgba(0, 0, 0, 0.5);
  padding-bottom: 32px;
}
.location-section .container .contents .location-contents .loc-content .loc-spec .heading {
  position: absolute;
  list-style-type: none;
  padding-top: 0;
  margin-left: 0;
  display: flex;
  width: 100%;
  justify-content: space-around;
}
.location-section .container .contents .location-contents .loc-content .loc-spec .heading li {
  background-color: #fff;
  font-size: 32px;
  border-radius: 50%;
  padding: 24px;
  text-align: center;
  margin-top: -42px;
  border: 5px solid #fff;
}
.location-section .container .contents .location-contents .loc-content .loc-spec .specs {
  list-style-type: none;
  color: #fff;
  display: flex;
  flex-wrap: wrap;
  margin-top: 64px;
}
.location-section .container .contents .location-contents .loc-content .loc-spec .specs li {
  margin: 8px;
  border: 1px solid #fff;
  text-align: center;
  border-radius: 20px;
  padding: 24px 18px;
  width: calc(50% - 16px);
}
.location-section .container .contents .location-contents .loc-content .loc-spec .specs li span {
  font-size: 24px;
}
.location-section .container .contents .location-contents .loc-content .loc-spec .specs1 {
  list-style-type: none;
  color: #fff;
  display: flex;
  flex-wrap: wrap;
  margin-top: 64px;
}
.location-section .container .contents .location-contents .loc-content .loc-spec .specs1 li {
  margin: 8px;
  border: 1px solid #fff;
  text-align: center;
  border-radius: 20px;
  padding: 24px 18px;
  width: calc(50% - 16px);
}
.location-section .container .contents .location-contents .loc-content .loc-spec .specs1 li span {
  font-size: 24px;
}
.location-section .container .contents .location-contents .loc-content .loc-spec .specs2 {
  list-style-type: none;
  color: #fff;
  display: flex;
  flex-wrap: wrap;
  margin-top: 64px;
}
.location-section .container .contents .location-contents .loc-content .loc-spec .specs2 li {
  margin: 8px;
  border: 1px solid #fff;
  text-align: center;
  border-radius: 20px;
  padding: 24px 18px;
  width: calc(50% - 16px);
}
.location-section .container .contents .location-contents .loc-content .loc-spec .specs2 li span {
  font-size: 24px;
}

@media (min-width: 769px) {
  .location-section {
    background-image: url("../images/location/location.webp");
  }
  .location-section .container .contents .heading {
    margin-left: 132px;
  }
  .location-section .container .contents .location-contents {
    display: flex;
    justify-content: space-evenly;
    margin-top: 32px;
  }
  .location-section .container .contents .location-contents .loc-img {
    width: 440px;
  }
  .location-section .container .contents .location-contents .loc-content {
    max-width: 500px;
  }
  .location-section .container .contents .location-contents .loc-content .loc-spec .specs li {
    width: calc(25% - 16px);
    padding: 16px 0;
  }
  .location-section .container .contents .location-contents .loc-content .loc-spec .specs li span {
    font-size: 18px;
  }
  .location-section .container .contents .location-contents .loc-content .loc-spec .specs1 li {
    width: calc(25% - 16px);
    padding: 16px 0;
  }
  .location-section .container .contents .location-contents .loc-content .loc-spec .specs1 li span {
    font-size: 18px;
  }
  .location-section .container .contents .location-contents .loc-content .loc-spec .specs2 li {
    width: calc(25% - 16px);
    padding: 16px 0;
  }
  .location-section .container .contents .location-contents .loc-content .loc-spec .specs2 li span {
    font-size: 18px;
  }
}
.hide1 {
  display: none !important;
}

.about-section {
  background-color: #000;
}
.about-section .container {
  padding: 8px;
  padding-top: 40px;
  padding-bottom: 40px;
}
.about-section .container .contents .heading {
  padding-top: 16px;
  margin-left: 8px;
}
.about-section .container .contents .heading h3 {
  border-bottom: 1px solid #D9D9D9;
  display: inline-block;
}
.about-section .container .contents .heading h3 span {
  background: #d9d9d9;
  width: 76px;
  display: inline-block;
  text-align: center;
  font-size: 32px;
  border-radius: 50px 50px 0 0;
}
.about-section .container .contents .heading h3 p {
  display: inline-block;
  color: #9B802E;
  margin-left: 24px;
  text-transform: uppercase;
}
.about-section .container .contents .heading h2 {
  padding: 16px 0;
  color: #d9d9d9;
}
.about-section .container .contents .content .text p {
  color: #fff;
  font-size: 16px;
  line-height: 25px;
}
.about-section .container .contents .content .image {
  display: none;
}

@media (min-width: 769px) {
  .about-section .container {
    padding: 80px 120px;
    padding-bottom: 200px;
  }
  .about-section .container .contents .content {
    margin-top: 40px;
    display: flex;
    position: relative;
  }
  .about-section .container .contents .content .text {
    width: 650px;
  }
  .about-section .container .contents .content .image {
    width: 500px;
    position: absolute;
    right: 70px;
    top: -179px;
    display: block;
  }
  .about-section .container .contents .content .image img {
    width: 100%;
  }
}
footer {
  background-color: #EFEEEE;
}
footer .container {
  padding: 8px;
}
footer .container .content {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 40px;
  margin-bottom: 40px;
}
footer .container .content .head a {
  text-align: center;
}
footer .container .content p {
  font-size: 12px;
  margin-top: 8px;
}
footer .container .content hr {
  width: 100%;
  margin-top: 8px;
}

.modal {
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  z-index: 999;
  display: none;
}
.modal .container .modal-form {
  width: 320px;
  background-color: #000;
  color: #9B802E;
  padding: 8px;
  position: relative;
  border: 1px solid #fff;
}
.modal .container .modal-form .heading h4 {
  font-size: 20px;
}
.modal .container .modal-form .heading span {
  position: absolute;
  background-color: #f00;
  color: #fff;
  font-size: 20px;
  padding: 0px 8px;
  top: 0;
  right: 0;
  cursor: pointer;
}
.modal .container .modal-form hr {
  margin-top: 16px;
  width: 100%;
  color: #9B802E;
}
.modal .container .modal-form .form {
  padding: 32px;
  text-align: left;
  margin-top: 10px;
  padding-bottom: 32px;
}
.modal .container .modal-form .form p {
  color: #fff;
  line-height: 16px;
}
.modal .container .modal-form .form input {
  width: 100%;
  outline: none;
  border: 1px solid #fff;
  background: transparent;
  font-size: 16px;
  padding: 8px;
  margin-top: 24px;
  color: #fff;
}
.modal .container .modal-form .form span {
  color: #fff;
  width: 20%;
}
.modal .container .modal-form .form button {
  width: 100%;
  background: #9b802e;
  border: 1px solid #fff;
  margin-top: 40px;
  font-size: 24px;
  color: #fff;
  padding: 8px;
  margin-bottom: 16px;
}
.modal .container .modal-form .form .name_area {
  display: flex;
}
.modal .container .modal-form .form .name_area p {
  width: 25%;
  font-size: 24px;
  border: 1px solid;
  text-align: center;
  padding: 8px 0 0 0;
  margin-top: 24px;
}
.modal .container .modal-form .form .name_area .name {
  width: 75%;
}
.modal .container .modal-form .form .number {
  display: flex;
}
.modal .container .modal-form .form .number .count_code {
  width: 25%;
  background-color: transparent;
  color: #fff;
  outline: none;
  border: 1px solid #fff;
  margin-top: 24px;
}
.modal .container .modal-form .form .number #ModalForm_CountryCode {
  background-color: #000;
}
.modal .container .modal-form .form .number .num {
  width: 75%;
}

.callModal {
  position: fixed;
  height: 100vh;
  width: 100vw;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
  display: none;
}
.callModal .container .content .main-box {
  width: 750px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #E1CE82;
  padding: 24px 0;
  z-index: 9999;
}
.callModal .container .content .main-box .image {
  width: 200px;
  margin: 24px 0;
}
.callModal .container .content .main-box .image img {
  width: 100%;
}/*# sourceMappingURL=style.css.map */