$primary-Color: #9B802E;
$secondary-color: #D9D9D9;
$primary-font: 'Hind', serif;



*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: $primary-font;
}
body{
overflow-x: hidden;
}
.show{
    display: block !important; 
}

@import'../Partial-files/icon';
@import'../Partial-files/banner_section';
@import'../Partial-files/overview_section';
@import'../Partial-files/highlights_section';
@import'../Partial-files/cta-section';
@import'../Partial-files/amenities-section';
@import'../Partial-files/price-section';
@import'../Partial-files/floorPlan-section';
@import'../Partial-files/gallery-section';
@import'../Partial-files/location-section';
@import'../Partial-files/about-section';
@import'../Partial-files/footer';
@import'../Partial-files/modal';

