.overview_section {
    // background-image: url(../images/overview/ov1.webp);
    // width: 100vw;
    // height: 100vh;

    .container {


        .contents {

            background: rgba(0, 0, 0, 0.8);
            padding: 8px;
            padding-top: 40px;
            padding-bottom: 40px;
            .heading {
                padding-top: 16px;

                h3 {

                    border-bottom: 1px solid #fff;
                    display: inline-block;

                    span {
                        background: #D9D9D9;
                        width: 76px;
                        display: inline-block;
                        text-align: center;
                        font-size: 32px;
                        border-radius: 50px 50px 0 0;
                    }

                    p {
                        display: inline-block;
                        color: $primary-Color;
                        margin-left: 24px;
                        text-transform: uppercase;
                    }
                }

                h2 {
                    color: $secondary-color;
                    padding: 16px 0;
                }
            }



            .content {
                p {
                    color: #fff;
                    font-size: 16px;
                    font-weight: 500;
                    line-height: 30px;
                }
            }
        }

        .image {
            img {
                width: 100%;
            }
        }
    }
}


@media (min-width: 769px) {

    .overview_section {

        background-image: url(../images/overview/ov1.webp);
        width: 100vw;
        height: 100vh;
        padding-bottom: 764px;


        .container {

            position: relative;
            
            .contents {
                width: 736px;
                margin-top: 64px;
                position: absolute;
                left: 160px;
                padding: 16px 232px 80px 56px;
                display: none;

                .heading{
                    margin-top: 50px;
                }
            }

            .image {

                left: 599px;
                position: absolute;
                // top: 265px;
                width: 570px;
                display: none;

                img {
                    // height: 360px;
                }
            }
        }
    }
}